doctype html
html(lang="en", data-ng-app='DELBID')
	head
		title='delegate.bid'
		link(rel='stylesheet', href='/client/main/main.css')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js')
		script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js')
		script(src='/client/main/main.js' type='text/javascript')
	body
		div It works!
