body
	box-sizing: border-box
	font-family: helvetica
	font-weight: bold

.main-table
	display: table
	width: 100%
.main-table-row
	display: table-row
.main-table-cell
	display: table-cell
	vertical-align: middle
	padding: 3px
	color: white
.main-table-cell img
	max-height: 50px
.main-table-header
	display: table-cell
	font-weight: bold
	color: black
	padding: 3px

.main-table-row-enhancement
	background-color: rgba(0,128,128,1.0)
.main-table-row-investment
	background-color: rgba(128,0,0,1.0)
.main-table-row-reliability
	background-color: rgba(0,0,128,1.0)
.main-table-row-faucet
	background-color: rgba(50,205,50,1.0)
.main-table-row-service
	background-color: rgba(0,0,255,1.0)
.main-table-row-charity
	background-color: rgba(255,0,0,1.0)
.main-table-row-giveaway
	background-color: rgba(255,165,0,1.0)
.main-table-row-political
	background-color: rgba(0,0,128,1.0)
.main-table-row-other
	background-color: rgba(128,0,128,1.0)
